{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>E-mails enviados</h1>
    <p>Relação de e-mails enviados para o administrador do sistema, notificando o cadastro de novos usuários.</p>
    <table class="table">
        <thead>
            <tr>
                <th>De</th>
                <th>Para</th>
                <th>Assunto</th>
                <th>Texto</th>
                <th>Data/Hora</th>
            </tr>
        </thead>
        <tbody>        
            {% for message in mensages %}
            <tr>
                <td>{{ message.De }}</td>
                <td>{{ message.Para | replace('[', '') | replace(']', '') }}</td>
                <td>{{ message.Assunto }}</td>
                <td>{{ message.Texto | replace('\n', '<br>') | safe }}</td>
                <td>{{ message.Data_hora | replace(',', '') | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
